body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 255, 247, 0.695), rgba(192, 255, 1, 0.558)); 
}

.banner .content {
    text-align: center;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10em;
}

.banner .content p {
    color: white;
    font-size: 1.5em;
}

.banner .content img {
    max-width: 95%; 
    height: auto; 
    margin: 20px 0; 
    background-size: 200% 50%; 
    background-position: center top; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  
 .header-buttons {
  position: absolute;
  top: 20px; 
  left: 30px; 
  z-index: 10;
}

.header-buttons button {
  display: inline-block;
  background-color: white; 
  color: rgb(83, 66, 66); 
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 300px; 
  border: none;
  font-size: 1em; 
  cursor: pointer;
  margin: 0 10px; 
}

.play-button {
    display: inline-block;
    background-color: white;
    color: rgb(83, 66, 66);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 300px;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    left: 300px; 
    bottom: 80px; 
    transform: translate(0, 0); 
}

